<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>

<h1 class="h3">Browse Pets</h1>

<div *ngIf="data">
    <nav>
        <ul class="pagination">
            <li class="page-item">
                <button class="page-link" type="button" (click)="first()" [disabled]="data.first">First</button>
            </li>
            <li class="page-item">
                <button class="page-link" type="button" (click)="previous()" [disabled]="data.first">Previous</button>
            </li>
            <li class="page-item">
                <button class="page-link" type="button" disabled>{{ data.number + 1 }}</button>
            </li>
            <li class="page-item">
                <button class="page-link" type="button" (click)="next()" [disabled]="data.last">Next</button>
            </li>
            <li class="page-item">
                <button class="page-link" type="button" (click)="last()" [disabled]="data.last">Last</button>
            </li>
        </ul>
    </nav>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col"><i class="fa-solid fa-hashtag"></i> Id</th>
            <th scope="col"><i class="fa-solid fa-dog"></i> Name</th>
            <th scope="col"><i class="fa-solid fa-paw"></i> Breed</th>
            <th scope="col"><i class="fa-solid fa-hourglass-half"></i> Age</th>
            <th scope="col"><i class="fa-solid fa-image"></i> Image</th>
            <th scope="col"><i class="fa-solid fa-link"></i> Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pet of data.content">
            <th scope="row">{{ pet.id }}</th>
            <td>{{ pet.name }}</td>
            <td>{{ pet.breed }}</td>
            <td>{{ pet.age }} year{{ pet.age === 1 ? '' : 's' }}</td>
            <td>
                <img [src]="pet.imageUrl" alt="{{ pet.name }}" width="64" height="64" class="rounded" />
            </td>
            <td>
                <div class="btn-group">
                    <a [routerLink]="['/pet', pet.id]" class="btn btn-sm btn-primary btn-table">
                        <i class="fa-solid fa-up-right-from-square"></i> Details
                    </a>
                    <button type="button" class="btn btn-sm btn-success btn-table" (click)="doAddToCart(pet.id)">
                        <i class="fa-solid fa-cart-shopping"></i> Add to cart
                    </button>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
